<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="GET">
        <table><tbody>
        <tr><td>ID</td><td>Title</td><td>Duration</td>
            <td>Year</td><td>Genre</td><td>Kinopoisk_rating</td></tr>

        <tr>
            <td>{{films.id}}</td>
            <td>{{films.title}}</td>
            <td>{{films.duration}}</td>
            <td>{{films.year}}</td>
            <td>{{films.genre}}</td>
            <td>{{films.kinopoisk_rating}}</td>
        </tr>



            </tbody></table>
        <br>
    </form>
</body>
</html>