<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="POST">
    <div>


        <h1>main</h1>


        <input type="submit" name="get_films" value="Показать список фильмов"/>

        <input type="submit" name="film_by_id" value="Показать/удалить фильм"/>

        <input type="submit" name="p_films" value="Добавить/редактировать фильм"/>
        <br><br>
        <input type="submit" name="get_dirs" value="Показать список режиссеров"/>

        <input type="submit" name="dir_by_id" value="Показать режиссера"/>

        <input type="submit" name="p_dirs" value="Добавить/редактировать режиссера"/>
        <br><br>
        <input type="submit" name="me" value="Информация о юзере"/>
        <br><br>
        <input type="submit" name="logout" value="Разлогиниться"/>
        </div>
</form>
</body>
</html>